<div class="modal-header">
  <h3 class="modal-title">Results</h3>
</div>
<div class="modal-body">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr class="list-cursor" ng-repeat="item in debug.variablesList">
        <td>{{item.type}}</td>
        <td>{{item.name}}</td>
        <td>{{item.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">OK</button>
</div>
