<div class="modal-header">
  <h3 class="modal-title">Run Verifier</h3>
</div>
<div class="modal-body">
    <div class="form-group">
      <label>Source path:</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="sourcePath.selectedPath" uib-popover-template="sourcePath.popoverTemplate" popover-placement="bottom" popover-is-open="sourcePath.isOpen" popover-trigger="none"/>
        <div class="input-group-btn">
          <button class="btn btn-default" ng-click="sourceClicked()"> 
            <span class="glyphicon glyphicon-open-file"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Destination path:</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="destinationPath.selectedPath" uib-popover-template="destinationPath.popoverTemplate" popover-placement="bottom" popover-is-open="destinationPath.isOpen" popover-trigger="none"/>
        <div class="input-group-btn">
          <button class="btn btn-default" ng-click="destinationClicked()"> 
            <span class="glyphicon glyphicon-open-file"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Project name:</label>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="projectName"/>
      </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

<script type="text/ng-template" id="popoverSourcePath.html">
  <filebrowser filesettings="sourcePath"></filebrowser>
</script>
<script type="text/ng-template" id="popoverDestinationPath.html">
  <filebrowser filesettings="destinationPath"></filebrowser>
</script>