<!-- Page content -->
<div id="wrapper">
  <header class="header header-fixed">
    <!-- Bootstrap Navigation bar : grey bar -->
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container-fluid">
        <!-- Navigation bar title -->  
        <div class="navbar-header">
          <!-- three bars button for small screen -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar" ng-init="isNavBarCollased = true" ng-click="isNavBarCollased = !isNavBarCollased">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- brand logo -->
          <div class="brand navbar-brand">
            <img src="imgs/logo.png" class="logo" alt="Sisyphe logo" height="30" width="71" ng-click="logoClicked()"/>
          </div>
        </div>
        <!-- Collapsed menu for small screen -->
        <div class="navbar-collapse navbar-ex1-collapse" uib-collapse="isNavBarCollased" id="appNavBar">
          <!-- Search bar -->
          <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchInput"/>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="searchClicked(searchInput)">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div> 
            </div>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div id="view">
    <!-- left panel -->
    <div id="left-panel" class="col-xs-12 col-sm-3">
      <!-- explorer view -->
      <div id="explorer-panel">
        <p class="table-header">Explorer</p>
        <div class="table-fixed">
          <table class="table table-hover">             
            <tbody>
              <tr class="list-cursor" ng-repeat="file in files" ng-class="{'info':file.status === 'Active'}" ng-click="setFile(file)">
                <td>
                  <span class="glyphicon glyphicon-file"></span>
                  {{file.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- properties view -->
      <div id="properties-panel">
        <p class="table-header">Properties</p>
        <div class="table-fixed">
          <table class="table">
            <tbody>
              <tr>
                <td>Files type:</td>
                <td>{{currentFile.type}}</td>
              </tr>
              <tr>
                <td>Lines count:</td>
                <td>{{currentFile.linesCount}}</td>
              </tr>
              <tr>
                <td>Errors count:
                <div ng-show="currentFilter.name=='Diff'">(-solved +new)</div>
                </td>
                <td>{{currentFile.errorsCount}}
                <div ng-show="currentFilter.name=='Diff'">(-{{currentFilter.solved}} +{{currentFilter.new}})</div>
                </td>
              </tr>
              <tr>
                <td>Classes count:</td>
                <td>{{currentFile.classesCount}}</td>
              </tr>
              <tr>
                <td>Enumerations count:</td>
                <td>{{currentFile.enumsCount}}</td>
              </tr>
              <tr>
                <td>Functions declarations count:</td>
                <td>{{currentFile.decMethodsCount}}</td>
              </tr>
              <tr>
                <td>Function definitions count:</td>
                <td>{{currentFile.defMethodsCount}}</td>
              </tr>
              <tr>
                <td>Attributes count:</td>
                <td>{{currentFile.attributesCount}}</td>
              </tr>
              <tr>
                <td>Macros count:</td>
                <td>{{currentFile.macrosCount}}</td>
              </tr>
              <tr>
                <td>Cyclomatic complexity avg:</td>
                <td>{{currentFile.complexityAvg}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- main panel -->
    <div id="main-panel" class="col-xs-12 col-sm-9">
      <!-- main panel -->
      <div id="code-panel">
        <prettify content="{{currentFile.content}}" error-click=errorClicked(index,event)></prettify>
      </div>
      <!-- bottom panel -->
      <div id="bottom-panel">
        <div class="collapse-group">
          <div class="collapse" uib-collapse="isCollapsed" id="viewdetails">
          <div class="dropdown" uib-dropdown>
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-th-list"></span>
            List: {{currentFilter.name}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu uib-dropdown-menu">
              <li class="list-cursor" ng-repeat="filterName in filters"><a ng-click="setFilter(filterName)">{{filterName}}</a></li>
            </ul>
          </div>
          <div id="list-panel">
            <table class="table table-hover">
              <tbody>
              <!-- -->
                <tr class="list-cursor" ng-repeat="item in currentFilter.list" ng-class="{'info':item.clicked}" data-ng-click="listClicked($index)" id="row-list-{{$index}}">
                  <td class="columnIcon">
                    <div ng-switch on="currentFilter.name">
                      <div ng-switch-when="Errors">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                      </div>
                      <div ng-switch-when="Diff">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                      </div>
                      <div ng-switch-default>
                         <span class="glyphicon glyphicon-info-sign"></span>
                      </div>
                    </div>
                  </td>
                  <td class="columnLine">l.{{item.lineNumber}}</td>
                  <td class="columnDescription">
                    <div ng-switch on="item.description">
                      <div ng-switch-when="">{{item.category}}</div>
                      <div ng-switch-default>{{item.category}}: {{item.description}}</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="center">
            <script type='text/ng-template' id='unfolded'>
              <span class="glyphicon glyphicon-chevron-down"></span>
            </script>
            <script type='text/ng-template' id='folded'>
              <span class="glyphicon glyphicon-chevron-up"></span>
            </script>
            <button class="btn" id="btndetails" data-toggle="collapse" data-target="#viewdetails" ng-click="changeViewDetails()"> 
              <div ng-include='btnViewDetailsIcon'></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>