<!-- Page content -->
<div id="wrapper">
  <header class="header header-fixed">
    <!-- Bootstrap Navigation bar : grey bar -->
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container-fluid">
        <!-- Navigation bar title -->  
        <div class="navbar-header">
          <!-- three bars button for small screen -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar" ng-init="isNavBarCollased = true" ng-click="isNavBarCollased = !isNavBarCollased">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- brand logo -->
          <div class="brand navbar-brand">
            <img src="imgs/logo.png" class="logo" alt="Sisyphe logo" height="30" width="72" ng-click="logoClicked()"/>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id="view">
	<div id="bottom-bar" style="margin: 20px;">
        <div class="input-group filter-input stretch">
          <div class="filter-label"><nobr><b>SQLite Where clause: </b></nobr></div><input type="text" class="form-control" ng-model="query" ng-keyup="$event.keyCode == 13 && filterClicked()"/>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="filterClicked()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div> 
        </div>
        <span class="glyphicon glyphicon-question-sign" style="margin: 10px 0 0 20px;" ng-click="filterIconClicked()"></span>
	</div>
	<div class="alert alert-danger" role="alert" style="margin: 0 20px 0 20px;white-space: pre-line;" ng-show="console.text!=''">
	  {{ console.text }}
	</div>
	<table class="table table-striped">
	  <thead>
	  <tr>
		<th scope="col" class="text-align-center">#</th>
		<th scope="col" class="text-align-center">Path</th>
		<th scope="col" class="text-align-center">Name</th>
		<th scope="col" class="text-align-center">Type<br><div style="font-size: xx-small;">(1:header,2:source)<div></th>
		<th scope="col" class="text-align-center">LinesCount</th>
		<th scope="col" class="text-align-center">RuleNumber</th>
		<th scope="col" class="text-align-center">Category</th>
		<th scope="col" class="text-align-center">Description</th>
		<th scope="col" class="text-align-center">LineNumber</th>
		<th scope="col" class="text-align-center">StartBlock</th>
        <th scope="col" class="text-align-center">IsNew<br><div style="font-size: xx-small;">(0:false,1:true)<div></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr ng-repeat="item in ResultView">
        <td scope="row" class="text-align-center">{{ item.identifier }}</td>
		<td scope="row" class="text-align-center">{{ item.path }}</td>
		<td scope="row" class="text-align-center">{{ item.name }}</td>
		<td scope="row" class="text-align-center">{{ item.type}}</td>
		<td scope="row" class="text-align-center">{{ item.linesCount }}</td>
		<td scope="row" class="text-align-center">{{ item.ruleNumber }}</td>
		<td scope="row" class="text-align-center">{{ item.category }}</td>
		<td scope="row" class="text-align-center">{{ item.description }}</td>
		<td scope="row" class="text-align-center">{{ item.lineNumber }}</td>
		<td scope="row" class="text-align-center">{{ item.startBlock }}</td>
        <td scope="row" class="text-align-center">{{ item.isNew }}</td>
	  </tr>
	  </tbody>
	</table>

	<nav aria-label="Page navigation" class="navbar">
	  <div class="container-fluid">
        <ul class="pagination">
		  <li class="page-item" ng-show="min>1">
		    <a class="page-link" ng-click="previousPageClicked()" aria-label="Previous">
			  <span aria-hidden="true">&laquo;</span>
			  <span class="sr-only">Previous</span>
		    </a>
		  </li>
		  <li ng-repeat="index in pages" class="page-item" ng-class="{active: index===selectedIndex}"><a class="page-link" ng-click="paginationClicked(index)">{{index}}</a></li>
		  <li class="page-item" ng-show="max<count">
		    <a class="page-link" ng-click="nextPageClicked()" aria-label="Next">
		  	  <span aria-hidden="true">&raquo;</span>
			  <span class="sr-only">Next</span>
		    </a>
		  </li>
	    </ul>
        <div class="navbar-right pagination-select">
	      <select class="custom-select" ng-model="pageSize">
		    <option ng-value="10" ng-click="selectClicked(10)">10 items per page</option>
		    <option ng-value="100" ng-click="selectClicked(100)">100 items per page</option>
		    <option ng-value="1000" ng-click="selectClicked(1000)">1000 items per page</option>
	      </select>
        </div>
      </div>
    </nav>
  </div>
</div>

