/* You can add global styles to this file, and also import other style files */
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

.icon-button, .icon-button-text {
  height: 16px;
  width: 16px;
  color:white;
}

.icon-button-text {
  margin-right: 5px;
}

#loading-img{
  display: block;
  position: absolute;
  left: 30%;
  width: 200px;
  height: 145px;
  background: url("assets/imgs/canard.png") 0 0 no-repeat;
  -webkit-animation: fly 800ms steps(3) infinite;
  animation: fly 800ms steps(3) infinite;
}

#loading-img:hover,
#loading-img:active{
  background-position: -600px 0px;
  animation: none
}

/* on décale l'image de fond */
@-webkit-keyframes fly {
  100% { background-position: -600px; } 
}
@keyframes fly {
  100% { background-position: -600px; }
}

.CodeMirror { height: 100%; }